<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="hello" class="com.soft1851.spring.ioc.entity.Hello">

    </bean>


    <bean id="phone" class="com.soft1851.spring.ioc.entity.Phone">
        <constructor-arg name="brand" value="iPhone11"/>
        <constructor-arg name="price" value="8888.8"/>
    </bean>

    <bean id="phone1" class="com.soft1851.spring.ioc.entity.Phone">
        <property name="brand" value="iPhoneX"/>
        <property name="price" value="6666.6"/>
    </bean>

</beans>